body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #5F6368;
    margin: 0px auto;
    padding: 0px;
}

input{
    border: 0;
    outline: none;
}

.google-logo {
    display: block;
    margin-left: 580px;
    margin-right: auto;
    padding-top: 200px;
}

.search-bar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 582px;
    height: 40px;
    border: 1px solid white; 
    border-radius: 30px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
}

.navbar {
    list-style-type: none;
    display: inline;
}

.right-align {
    float: right;
    padding: 15px;
    margin-right: 15px;
}

.left-align {
    float: left;
    padding: 15px;
    margin-left: 15px;
}

.sign-in {
    border: 1px solid #4285f4;
    background-color: #4285f4;
    color: white;
    border-radius: 4px; 
    padding: 5px 15px 5px 15px;
    margin-top: 10px;
}

.search-button {
    text-align: center;
    margin: 30px;
}

.button {
    background-color: #f2f2f2;
    color: #5F6368;
    font-size: 15px;
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    border-radius: 6px;
}

.button:hover {
    border-color: rgb(170, 170, 170);
}

.footer-bar {
    background: #f2f2f2;
    list-style-type: none;
    position: fixed;
    bottom: 0;
    margin-bottom: 0px;
    width: 97%;
}

.right-align-footer {
    float: right;
    padding: 15px;
    margin-right: 15px;
    text-align: right;
}

.left-align-footer {
    float: left;
    padding: 15px;
}